@font-face {
  font-family: 'Bitter';
  src: url(./fonts/Bitter-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Bitter';
  font-style: italic;
  src: url(./fonts/Bitter-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'BabaPro';
  src: url(./fonts/BabaPro-Bold.ttf);
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(./fonts/IBMPlexMono-Regular.ttf);
}
